<footer class="well">
  <p>Advertise | About | Acceptable Use | Contact | Privacy Policy | Press
  <br>&copy; <%= link_to "BestEatsIn.com", root_url, class: "copy" %> 2010-<%= Time.now.year %></p>
</footer>
